@model IEnumerable<HMS.ViewModels.WardViewModel>
@using HMS.MVCHelper

@{
    ViewBag.Title = "Wards";
}

<div class="app-main__outer">
    <div class="app-main__inner">
        <div class="app-page-title">
            <div class="page-title-wrapper">
                <div class="page-title-heading">
                    <div>
                        <h4 style="font-weight: 600;">HMS Hospital Details</h4>

                    </div>

                </div>


                <div class="page-title-actions">
                    <div class="d-inline-block dropdown">
                        @Html.ModelDialog("<i class='fa fa-user-plus fa-w-20'></i> Add Ward", "Add Wards", Url.Action("Create", "Wards"))
                    </div>
                </div>
            </div>
        </div>
        <div class="">
            <div class="row">
                <div class="col-md-6">



                    <div class="main-card mb-3 card">
                        <div class="card-body">
                            <h5 class="card-title">HMS Hospital</h5>
                            <div class="scroll-area-lg">
                                <div class="scrollbar-container ps--active-y">

                                    <div class="table-responsive">

                                        <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                            <thead>
                                                <tr>
                                                    <th> @Html.DisplayNameFor(model => model.Ward_Status)</th>
                                                    <th class="text-center">Update</th>
                                                </tr>
                                            </thead>
                                            <tbody>



                                                @foreach (var w in Model)
                                                {

                                                    <tr>
                                                        <td>

                                                            @if (w.Ward_Status == 1)
                                                            {
                                                                <div type="button" class="badge badge-success status-btn">Available</div>
                                                            }
                                                            else
                                                            {
                                                                <div type="button" class="badge badge-danger status-btn">Not Available</div>
                                                            }

                                                        </td>

                                                        <td class="text-center">
                                                            @Html.ModelDialogEdit("Update Status", "Edit", "Wards", routeValues: new { id = w.Ward_No })

                                                        </td>
                                                    </tr>
                                                }

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                </div>
            </div>
        </div>
    </div>
</div>

